div(
  class=[
    form.htmlClass,
    form.feedback ? '' : 'has-feedback',
    formObj.hasError(form.key) ? 'has-error' : '',
    formObj.hasSuccess(form.key) ? 'has-success' : ''
  ]
).form-group

  label.control-label(for=form.key)!= form.title

  div(
    class=form.fieldAddonLeft || form.fieldAddonRight ? 'input-group' : ''
  )
    if (form.fieldAddonLeft)
      span.input-group-addon!= form.fieldAddonLeft

    input.form-control(
      id=form.key
      placeholder=form.placeholder
      name=form.key
      type=form.type
      value=formObj.values[form.key]
    )

    if (form.fieldAddonRight)
      span.input-group-addon!= form.fieldAddonRight

  if (formObj.isSubmitted && !form.feedback)

    span.form-control-feedback.glyphicon(
      aria-hidden="true"
      class=[
        formObj.hasError(form.key) ? 'glyphicon-remove' : 'glyphicon-ok'
      ]
    )

  div.help-block
    if (formObj.hasError(form.key))
      | !{ formObj.getError(form.key).message }
    else
      | !{ form.description }
