div(
  class=form.htmlClass
  class=!form.$pristine && form.$valid ? 'has-success' : ''
  class=!form.$pristine && !form.$valid ? 'has-error' : ''
  class=!form.feedback !== false ? 'has-feedback' : ''
).form-group

  label.control-label(for=form.key.slice(-1)[0]) #{ form.title }

  if (!form.fieldAddonLeft && !form.fieldAddonRight)

    input.form-control(
      id=form.key.slice(-1)[0]
      placeholder=form.placeholder
      name=form.key.slice(-1)[0]
      value=data[form.key.slice(-1)[0]]
    )

  else
    p 2

  if (!form.feedback !== false)

    span.form-control-feedback.glyphicon(
      aria-hidden="true"
      class=!form.$pristine && !form.$valid ? 'glyphicon-ok' : ''
      class=!form.$pristine && !form.$valid ? 'glyphicon-remove' : ''
    )

  div.help-block !{ form.description }
