div.form-group.has-feedback(class=form.htmlClass)

  label.control-label(class=form.labelHtmlClass for=form.key) #{ form.title }

  textarea.form-control(
    class=form.fieldHtmlClass
    id=form.key
    name=form.key
    placeholder=form.placeholder
  )

  span.help-block !{ form.description }
