div.form-group.has-feedback(
  class=[
    form.htmlClass,
    formObj.hasError(form.key) ? 'has-error' : '',
    formObj.hasSuccess(form.key) ? 'has-success' : ''
  ]
)

  label.control-label(class=form.labelHtmlClass for=form.key) #{ form.title }

  textarea.form-control(
    class=form.fieldHtmlClass
    id=form.key
    name=form.key
    placeholder=form.placeholder
  ) !{ formObj.values[form.key] }

  div.help-block
    if (formObj.hasError(form.key))
      | !{ formObj.getError(form.key).message }
    else
      | !{ form.description }
